<!DOCTYPE html>
<html>
<head>
  <title><%= '33434' %></title>
</head>
<body>
<container>
  <row>
    <columns>
      <include_component path="table.erb"/>
    </columns>
  </row>
</container>
</body>
</html>
